@model List<projekt4.Models.Person>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSzablon.cshtml";
}
<h2>Lista Person</h2>
<br /><br />

<ul class="breadcrumb" style="width:100%">
    @foreach (var os in Model)
    {
        <li class="nav-item" style="margin-right:5em;width:25%">
            <p>Imię:  @os.Imie</p>
            <p>Nazwisko: @os.Nazwisko</p>
            <p>Wiek: @os.Age</p>
            <p>Email: <a href="http://onet.pl">@os.Email</a> </p>
        </li>
    }
</ul>



@if (Model.Count() == 0)
{
    <p>
        brak
    </p>
}
else
{
    var i = Model.Count;
    <p>
        Mamy @i element/y/ów na liście "Person"
    </p>
}

@section skrypty
{
<script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
<script type="text/javascript" src="~/Scripts/bootstrap.js"></script>
}