@model List<projekt4.Models.Person>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSzablon.cshtml";
}


<h2>
    Lista Osób na dzień @Html.Action("PobierzGodzinePartial")
    </h2>
<br /><br />

@Html.Partial("_SubIndex")


@section scripts
{
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.js"></script>
}

