@model projekt4.Models.Omnie

@{
    Layout = "~/Views/Shared/_LayoutSzablon.cshtml";
}

<h2>Informacje o mojej skromnej osobie</h2>


<section class="card-section">
    <div class="card card-4">
        <div class="plate">
            @Model.Imie @Model.Nazwisko
        </div>
        <div class="subcard">
            <p>Wiek: @Model.Age</p>
            <p>Email: <a href="http://onet.pl">@Model.Email</a> </p>
            </div>
        </div>
</section>
