@model Walidacja.Models.Pracownik

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("Index", "Home"))
{
    @Html.EditorFor(a=>a)
    <input type="submit" name="waliduj" value="WYŚLIJ" />
}